@import url("https://fonts.googleapis.com/css2?family=Modern+Antiqua&display=swap");
/* font-family: 'Modern Antiqua', cursive; titre */

@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital@1&display=swap");
/* font-family: 'Red Hat Text', sans-serif; texte */

/* @import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text&display=swap"); */
/* font-family: 'Red Hat Text', sans-serif; texte italique */

* {
  /* margin: 0;
    padding: 0; */
  box-sizing: border-box;
}
main {
  width: 80%;
  margin: auto;
  /* background-color: rgb(60, 149, 119); */
  display: flex;
}

body.active {
  background-color: black;
  transition:1s;
}

a {
  text-decoration: none;
  color: black;
}

.positionburger {
  display: flex;
  justify-content: space-between;
}

.aside {
  width: 50%;
  background-color: #e1d4bb;
  border-radius: 200px 200px 0px 0px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* transition: left 1s ease; */
  row-gap: 30px;
}

.blockJs {
  display: flex;
  margin-top: 15px;
  column-gap: 15px;
}

.burger-icon {
  margin-top: 50px;
}

.burger-icon span {
  display: none;
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

.dark {
  display: flex;
  column-gap: 20px;
  margin-top: 3px;
}

.dark i {
  font-size: 32px;
}
/* .fa-solid.fa-sun {
  font-size: 50px;
} */

.fa-solid.fa-sun {
  display: none;
}

.fa-solid.fa-sun.dark {
  color: #cbb279;
  display: block;
}

.Logo {
  margin: 10px auto;
  margin-top: 15px;
}

.LogoSize {
  width: 100%;
  margin: auto;
  row-gap: 5px;
  margin-left: 10px;
}

.LogoSize i {
  color: #537188;
}

.Logo img {
  height: 170px;
  width: 170px;
  border-radius: 100%;
  background-size: cover;
}

.etiquette {
  width: 100%;
  /* margin-right: 10px; */
  background-color: #cbb279;
  border-radius: 25px;
  font-family: "Modern Antiqua", cursive;
  color: #537188;
  font-weight: 400;
  text-align: center;
  padding: 2px 0px;
  margin-bottom: 0px;
  margin: 0px;
  transition: 1s;
}

.flexInfo {
  display: flex;
  flex-wrap: wrap;
}

.Colonne {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 5px;
  width: 90%;
  margin: 0px auto;
  font-size: 1.2em;
}

.Info {
  font-family: "Red Hat Text", sans-serif;
  font-style: normal;
  font-weight: 600;
}

.InfoBlue {
  color: #537188;
  margin-left: 10px;
  font-family: "Modern Antiqua", cursive;
  font-weight: 600;
}

ul {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  margin-top: 0px;
  padding-right: 10px;
}

li {
  font-family: "Red Hat Text", sans-serif;
  font-size: 1em;
}

.principal {
  /* background-color: aquamarine; */
  width: 100%;
}

.cercle {
  position: relative;
  width: 15px;
  height: 15px;
  background-color: black;
  border-radius: 50%;
  left: -6px;
  bottom: -20px;
  z-index: -1;
}

article {
  margin-left: 50px;
}

.positionburger h1 {
  font-size: 3em;
  font-family: "Modern Antiqua", cursive;
  color: #537188;
  text-decoration: none;
  font-weight: 200;
  margin-bottom: 20px;
  margin-top: 20px;
}

h2 {
  margin-top: 20px;
  font-size: 2em;
  font-family: "Modern Antiqua", cursive;
  color: #537188;
  text-decoration: none;
  font-weight: 200;
}

.etiquette2 {
  width: 100%;
  /* margin-right: 10px; */
  background-color: #cbb279;
  border-radius: 25px;
  font-family: "Modern Antiqua", cursive;
  color: #537188;
  font-weight: 400;
  font-size: 1.4em;
  text-align: center;
  padding: 3px 0px;
  transition: 1s;
}

.etiquette2.titreDark {
  background-color: white;
  color: black;
  transition: 1s;
}

.block {
  border-left: 3px solid black;
  padding-left: 15px;
  transition: 1s;
  height: auto;
}

.block p{
  margin-bottom: 10px;
}

#intru{
  margin-top: 22.4px;
}

/* .accordeon{
visibility: hidden;
opacity: 0;
margin-top: 0;
width: 100%;
background-color: rgba(128, 128, 128, 0.289);
background-color: #e1d4bb55;
padding: 5px;
transition: display 1s ease-in;
transition: 1s;
transition: visibily 0s, opacity 1s ease-in;

}

.accordeon.active{
  visibility: visible;
  display: block;
  transition: 1s; 
  transition: visibily 0s, opacity 1s ease-in; 
  transition: opacity 1s ease-in;
  opacity: 1;
} */

.accordeon1, .accordeon2, .accordeon3, .accordeon4{
  margin-top: 25px;
  position: relative;
  left: 95%;
  color: #537188;
}
/* .accordeonIdd{
  margin-top: 8px;
  position: relative;
  left: 95%;
  color: #537188;
} */

.plus {
  visibility: hidden;
  opacity: 0;
  margin-top: 0;
  width: 100%;
  background-color: #e1d4bb55;
  padding: 5px;
  transition: height 1s, opacity 1s ease-in;
  /* overflow: hidden; */
  height: 0;
}

.plus.active {
  visibility: visible;
  opacity: 1;
  height: auto;
}

.accordeon p{
font-family: "Red Hat Text", sans-serif;
  font-size: 1em;
  margin-top: 5px;
  margin-bottom: 0px;
}


.detail {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  color: #537188d2;
  cursor: pointer;
  margin: 5px 0px;
}

.detail.active {
  color: #65bafb;
  transition: 1s;
}

.block p {
  font-family: "Red Hat Text", sans-serif;
  font-size: 1em;
  margin-top: 5px;
  margin-bottom: 0px;
}

.block h4 {
  font-family: "Red Hat Text", sans-serif;
  font-weight: bold;
  color: #537188;
  margin-bottom: 5px;
  margin-top: 5px;
}

.burger {
  display: none;
}

.close {
  display: none;
}

.overlay {
  position: fixed;
  left: 0px;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.747);
  width: 100%;
  height: 100%;
  /* display: none; */
  z-index: -1;
  /* -webkit-transition:2s; */
  opacity: 0;
  transition: opacity 1.2s ease-in;
  transition: z-index 1.2s ease-in;
  /* transition: 1.3s; */
}

.overlay.active {
  opacity: 1;
  z-index: 0;
  transition: opacity 1s ease-in;
}
.overlayBox {
  position: fixed;
  top: 20%;
  left: 20%;
  width: 60%;
  height: 500px;
  background-color: #d4cbc2;
  z-index: 2;
  transition: 2s;
}

.overlayBox.active {
  background-color: black;
  transition: 2s;
}

.overlayBox img {
  height: 100px;
  width: 100px;
}

.overlayBox {
  height: 250px;
}

.overlayBox h4 {
  color: #537188;
  font-size: 1.5em;
  font-family: "Modern Antiqua", cursive;
}

.overlayBox .PositionPassion {
  display: flex;
  justify-content: space-around;
  height: 50px;
  align-items: center;
}

.PositionPassion i {
  font-size: 1.5em;
  color: #537188;
}

.overlayBox p {
  margin: 0px;
  padding: 15px;
  font-size: 1em;
  font-family: "Red Hat Text", sans-serif;
}

.intru {
  color: #65bafb;
}
/* 
p .text-white{
color: white;
} */

@media screen and (max-width: 1200px) {
  main {
    width: 90%;
  }
  .aside {
    width: 50%;
  }
}

@media screen and (max-width: 780px) {
  main {
    width: 90%;
  }
  .aside {
    width: 50%;
  }
}

@media screen and (max-width: 730px) {
  main {
    width: 90%;
  }
  .aside {
    position: fixed;
    z-index: 1;
    top: 0;
    left: -365px;
    border-radius: 0px 0px 0px 0px;
    height: 100%;
    transition: 1.8s;
  }

  .Logo {
    margin: 0 auto;
    margin-top: 10px;
  }

  .Logo img {
    height: 100px;
    width: 100px;
  }
  aside img {
    height: 110px;
    width: 110px;
  }

  .InfoBlue {
    font-size: 1em;
    color: #537188;
  }

  ul {
    margin: auto;
    /* margin-bottom: 20px; */
  }

  li {
    font-size: 0.8em;
  }
  article {
    margin-left: 15px;
  }

  h3 {
    margin: 0;
  }

  .aside.active {
    left: 0px;
    width: 100%;
    border-radius: 0;
    min-height: 100vh;
    padding-bottom: 40px;
  }
  .burger-icon span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: #cbb279;
    margin: 6px 0;
  }
  .close {
    display: block;
    position: absolute;
    top: 2%;
    left: 5%;
    height: 50px;
  }

  .closeDetail i {
    cursor: pointer;
  }

  .overlayBox {
    height: 420px;
  }

  .overlayBox h3 {
    color: #537188;
    font-size: 1.5em;
    font-family: "Modern Antiqua", cursive;
  }

  .overlayBox .PositionPassion {
    display: flex;
    justify-content: space-around;
    height: 50px;
    align-items: center;
  }

  .PositionPassion i {
    font-size: 1.5em;
    color: #537188;
  }

  .overlayBox p {
    margin-top: 20px;
    padding: 15px;
    font-size: 1em;
    font-family: "Red Hat Text", sans-serif;
  }
}

@media screen and (max-width: 451px) {
  .overlayBox {
    height: 450px;
  }

  .overlayBox h3 {
    color: #537188;
    font-size: 1.5em;
    font-family: "Modern Antiqua", cursive;
  }

  .overlayBox .PositionPassion {
    display: flex;
    justify-content: space-around;
    height: 50px;
    align-items: center;
  }

  .PositionPassion i {
    font-size: 1.5em;
    color: #537188;
  }

  .overlayBox p {
    margin: 0px;
    padding: 15px;
    font-size: 1em;
    font-family: "Red Hat Text", sans-serif;
  }
}
